body {
  background-color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: #333333;
  padding: 5px;
} 
  
.header-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}

.toggle-btn {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 30px;
  color: white;
}

.menu {
  display: none;
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #333333;
}

.menu.show {
  display: block;
}

.menu-cnt {
  color: white;
  padding: 5px;
  font-size: 20px;
  background: none;
  border: none;
}

.intro {
  color: white;
  margin-bottom: 1rem;
}

.intro h3 {
  margin-bottom: 1rem;
  line-height: 5;
  text-align: center;  
}

.intro h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.intro-description {
  color: white;
  margin: 10px;
  direction: ltr;
}